<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body style="margin: 0">
    <div style="height: 48px;background-color: #dddddd"></div>
    <div>
        <form action="/excel" method="post">
            <input type="text" name="id" placeholder="id" />
            <input type="text" name="username" placeholder="用户名" />
            <input type="text" name="group" placeholder="组" />
            <input type="text" name="email" placeholder="邮箱"/>
            <input type="text" name="gender" placeholder="性别"/>
            <input type="submit" value="添加"/>
        </form>
    </div>
    <div>
        <table>
            {% for row in user_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.username }}</td>
                    <td>{{ row.group }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ row.email }}</td>
                       <td><a href="/detail?nid={{ row.id }}">查看详细</a> |
                        <a class="del" href="#" row-id="{{ row.id }}">删除</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="hide"  id="i1">
        <form action="/del_host" method="post">
            <input id="nid" type="text" name="nid"/>
            <p>
                <input type="submit" value="确认" />
                <input id="niid" type="button" value="取消"/>
            </p>
        </form>
    </div>
<script src="/static/jquery.js"></script>
<script>
    $('.del').click(function(){
        var row_id = $(this).attr('row-id');
        $('#nid').val(row_id);
        $("div").removeClass("hide");
    });

    $(":button").click(function() {
        $('input').addClass('hide');

    })
</script>
</body>
</html>